<form style="margin-left:10%; margin-right:10%">

  

    <div class="form-floating mb-3" style="margin-top: 1%;">
        <label for="floatingInput">Name</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="name" required name="name" [(ngModel)]="formData.name">
        
    </div>
    <div class="form-floating mb-3">
        <label for="floatingInput">Email address</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required name="email" [(ngModel)]="formData.email">
        
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="password" required name="password" [(ngModel)]="formData.password">
        
    </div>

    <div class="form-floating mb-3" style="margin-top: 1%;">
        <label for="floatingInput">Organization</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="name" required name="organization_name" [(ngModel)]="formData.organization_name">
        
    </div>

    <div class="form-floating mb-3" style="margin-top: 1%;">
        <label for="floatingInput">Amount User</label>
        <input type="number" class="form-control" id="floatingInput" placeholder="amount user $" required name="amout_user" [(ngModel)]="formData.amout_user">
    </div>

    
    <button class="btn btn-primary" (click)="update()">Update User Organization</button>
    </form>